<?xml version="1.0" encoding="UTF-8"?>
<!--**
 * P7Tools
 *
 * PHPUnit configuration file for testing units of P7Tools library
 *
 * @author Sven Schrodt<sven@schrodt-service.net>
 * @package P7Tools
 * @link https://github.com/svenschrodt/P7Tools
 * @link https://travis-ci.org/svenschrodt/P7Tools
 * @license https://github.com/svenschrodt/P7Tools/blob/master/LICENSE.md
 * @copyright Sven Schrodt<sven@schrodt-service.net>
 * @version 0.1
 */-->


<phpunit bootstrap="Bootstrap.php" colors="true" verbose="true">
	<php>
		<!-- fake parameter parameters -->
        <var name="db_dsn" value="mysql:dbname=none_defined_yet;host=gwen.stacy.example.org"/>
        <var name="db_username" value="rotcelloC"/>
        <var name="db_password" value="1an3l33r_1ivan"/>
        <env name="PROJECT_ENVIRONMENT" value="Develop"/>
        <env name="PROJECT_NAME" value="P7Tools"/>
    </php>

    <testsuites>
        <testsuite name="Testing P7Tools">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
  <!--  Rules for code coverage -->
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./src/public</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
